<header class="bg-primary" style="height: 10vh;">
  <h3 class="text-light">Chuck Norris & Sons API</h3>
</header>
<main style="background-color: rgb(163, 163, 241); min-height: 90vh;" class="d-flex flex-column">
  <div class="shadow p-3 mb-5 bg-white rounded w-75 m-auto">
    <div class="mt-3">
      <div class="d-flex align-items-center p-2 w-100 " style="height: 7vh; margin:auto; background-color: rgb(236, 231, 231);">
        <p class="m-0">GET  :</p>
        <span>/api/people/</span>
        <button class="ml-auto bg-success">Try</button>
      </div>
      <div *ngIf="show1" class="bg-light w-100 mt-4" style="overflow: scroll; height: 40vh; border: black 1px solid; margin:auto;">
    
      </div>
    </div>
    <div class="mt-3">
      <div class="d-flex align-items-center p-2 w-100 " style="height: 7vh; margin:auto; background-color: rgb(236, 231, 231);">
        <p class="m-0">GET  :</p>
        <span>/api.chucknorris.io/jokes/categories</span>
        <button class="ml-auto bg-success">Try</button>
      </div>
      <div *ngIf="show2" class="bg-light w-100 mt-4" style="overflow: scroll; height: 40vh; border: black 1px solid; margin:auto;">
    
      </div>
    </div>
    <div class="mt-3">
      <div class="d-flex align-items-center p-2 w-100 " style="height: 7vh; margin:auto; background-color: rgb(236, 231, 231);">
        <p class="m-0">GET  :</p>
        <span >/api.chucknorris.io/jokes/random?category=[category]</span>
        <input type="text" class="w-20 ml-auto" placeholder="category">
        <button class="ml-auto bg-success">Try</button>
      </div>
      <div *ngIf="show3" class="bg-light w-100 mt-4" style="overflow: scroll; height: 40vh; border: black 1px solid; margin:auto;">
    
      </div>
    </div>
    
  </div>
  
</main>
